/* Write your CSS here! */

body{
    margin: 8px;
    display: block;    
}

#mainHeading {
    color: red; 
    padding: 25px;
    border: 5px dotted black;
    margin: 50px;
    text-align:center;
    font-size: 72px;
}

.funParagraph {
    color: green;
}

